<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://211.64.28.125:5000/static/js/jquery-3.2.1.min.js"></script>
    <title>index</title>
</head>
<body>
<h3>谷歌浏览器请按 F12 打开 console 来查看操作结果</h3>
username: <input id="username"><br>
password: <input id="password"><br>
<button onclick="card_balance()">card_balance</button>
<button onclick="card_info()">card_info</button>
<button onclick="lib_info()">lib_info</button>
<script>
    function card_balance() {
        var username = $("#username").val();
        var password = $("#password").val();
        var data = {
            'username': username,
            'password': password
        };
        $.post("/card/balance/", data=data, function (rst, code) {
            console.log(rst);
        });
    }
    function card_info() {
        var username = $("#username").val();
        var password = $("#password").val();
        var data = {
            'username': username,
            'password': password
        };
        $.post("/card/info/", data=data, function (rst, code) {
            console.log(rst);
        });
    }
    function lib_info() {
        var username = $("#username").val();
        var password = $("#password").val();
        var data = {
            'username': username,
            'password': password
        };
        $.post("/borrow/info/", data=data, function (rst, code) {
            console.log(rst);
        });
    }
</script>
</body>
</html>